.background_dark{
    -fx-background-color: #001028;
}
.bodyAnchorPane{
    -fx-background-color: #111B21;
}
.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-display-caret: false;
    -fx-content-display: top;
}
.text_label{
    -fx-text-fill: #fff;
}
.logo_text{
    -fx-text-fill: #1e88e5;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 5 0;
    -fx-border-color: #1e88e5;
}
.slogan_text{
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
}
.text_field{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #1e88e5;
    -fx-text-fill: #fff;
}
.btn{
    -fx-text-fill: #fff;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: #1e88e5;
    -fx-border-color: #1e88e5;
    -fx-border-width: 2;
    -fx-cursor: hand;
}
.btn:hover{
    -fx-background-color: transparent;
    -fx-border-color: #1e88e5;
    -fx-border-width: 2;
}
.hbox_input{
    -fx-background-color: transparent;
}
.mainMessageView{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.mainMessageView .viewport{
    -fx-background-color: transparent;
}
.messageHead{
    -fx-background-color: white;
}
.search_hbox{
    -fx-background-color: white;
}
.searchBar{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 3;
    -fx-border-color: #1e88e5;
    -fx-text-fill: #1e88e5;
    -fx-prompt-text-fill: #1e88e5;
}
.inputMessage{
    -fx-background-color:  rgba(55, 166, 214, 0.3);
    -fx-background-radius: 25px;
    -fx-border-color: rgb(55, 166, 214);
    -fx-border-width: 1px;
    -fx-border-radius: 25px;
    -fx-text-fill: rgb(55, 166, 214);
    -fx-prompt-text-fill:rgb(55, 166, 214);
}
.inputMessage:focused{
    /*-fx-background-color: rgba(55, 166, 214, 0.7);*/
}
.sendBtn{
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 25px;
    -fx-text-fill: rgb(55, 166, 214);
    -fx-border-color: rgb(55, 166, 214);
    -fx-border-width: 1px;
    -fx-border-radius: 25px;
    -fx-cursor: hand;
}
.sendBtn:hover{
    -fx-background-color: rgb(55, 166, 214);
    -fx-text-fill: white;
}
